
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Crear Colaborador</title>
</head>
<body>
    <h1>Crear Colaborador</h1>
    <form method="post" action="/Colaborador/Create">
        @Html.AntiForgeryToken()
        <div class="form-group">
            <label for="tipoDocumento">Tipo de Documento:</label>
            <select class="form-control" name="tipoDocumento" id="tipoDocumento" required>
                <option value="">Seleccione...</option>
                <option value="CC">Cédula de Ciudadanía</option>
                <option value="TI">Tarjeta de Identidad</option>
                <option value="PT">Pasaporte</option>
                <option value="CE">Cédula de Extranjería</option>
            </select>
        </div>

        <div class="form-group">
            <label for="numeroDocumento">Número de Documento:</label>
            <input type="text" class="form-control" name="documentoIdentificacion" id="documentoIdentificaion" required>
        </div>

        <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input type="text" class="form-control" name="nombre" id="nombre" required>
        </div>

        <div class="form-group">
            <label for="apellido">Apellido:</label>
            <input type="text" class="form-control" name="apellido" id="apellido" required>
        </div>

        <div class="form-group">
            <label for="cargo">Cargo:</label>
            <input type="text" class="form-control" name="cargo" id="cargo" required>
        </div>

        <div class="form-group">
            <label>Especialidad:</label>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="especialidad" id="cirujano" value="cirujano" required>
                <label class="form-check-label" for="cirujano">
                    Cirujano
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="especialidad" id="nutricionista" value="nutricionista" required>
                <label class="form-check-label" for="nutricionista">
                    Nutricionista
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="especialidad" id="cardiologo" value="cardiologo" required>
                <label class="form-check-label" for="cardiologo">
                    Cardiólogo
                </label>
            </div>
        </div>
        <div>
            <input type="submit" class="btn btn-primary" value="Crear">
            <a href="@Url.Action("Index", "Colaborador")" class="btn btn-success">Regresar al Listado</a>
        </div>
    </form>



</body>
</html>



